<form method="post" action="/client/panier/filtre" style="display: inline-block">
    <div class="form-group">
        <input name="filter_word" type="text" placeholder="Recherche" size="10" class="form-control"
               value="{{ session.filter_word|default('') }}">
    </div>

    {% if items_filtre is defined %}
    <div class="form-group">
        <h4>Types articles</h4>
        {% for item in items_filtre %}
            {% set id_item = item.id_type_article|string %}
            <input type="checkbox" name="filter_types" value="{{ id_item }}"
            {% if session.filter_types is defined and session.filter_types and id_item in session.filter_types %}checked{% endif %}>
            {{ item.libelle }}<br/>
        {% endfor %}
    </div>
{% endif %}


    <div class="form-group">
        <h5>Prix :</h5>
         <input name="filter_prix_min" type="text" placeholder="min" size="3"
            value="{{ session.filter_prix_min|default('') }}">
         <input name="filter_prix_max" type="text" placeholder="max" size="3"
            value="{{ session.filter_prix_max|default('') }}">
    </div>
    
    <button type="submit" class="btn btn-primary" style="display: inline-block;">Filtrer</button>
</form>

{% if session.filter_word or session.filter_prix_max or session.filter_prix_min or session.filter_types %}
<form action="/client/panier/filtre/suppr" style="display: inline-block; margin: 5px;" method="post">
    <button class="btn btn-primary">Supprimer filtre</button>
</form>
{% endif %}
